DATABASE_URL="postgresql://postgres:PASSWORD_KAMU@localhost:5432/login_service_db"
JWT_SECRET="ganti-ini-dengan-secret-yang-panjang-dan-acak"
JWT_EXPIRES_IN="1d"
REST_PORT=3000
USER_SERVICE_URL="http://localhost:3001"
INTERNAL_API_SECRET="ganti-ini-juga-jadi-secret-acak-yang-lain"