DATABASE_URL="postgresql://postgres:PASSWORD_KAMU@localhost:5432/user_service_db"
JWT_SECRET="ganti-dengan-secret-acak-yang-panjang"
REST_PORT=3001
GRPC_PORT=50052
INTERNAL_API_SECRET="ganti-dengan-secret-acak-lainnya"
LOGIN_SERVICE_URL="http://localhost:3000"